[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
scikit-learn = "*"
joblib = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
matplotlib = "*"
djangorestframework = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
